<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav th:replace="index.html :: nav"></nav>

    <div class="container">
      <div class="alert alert-dismissible alert-success mt-6" th:if="${msg}">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong th:text="${msg}"></strong>
      </div>

      <div class="row">
        <div class="col-6 m-auto">
          <h1 th:text="${action}">Add Departments</h1>
          <form
            action=""
            method="post"
            th:action="@{/adddepartment}"
            th:object="${dep}"
          >
            <input type="hidden" name="id" th:value="*{id}" />
            <div class="form-group">
              <label for="name">Department Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                th:filed="*{name}"
                th:value="*{name}"
                placeholder="Entre Department Name"
                th:classappend="${#fields.hasErrors('name')} ? is-invalid :''"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
              ></div>
            </div>
            <div class="form-group">
              <label for="desc">Department Description</label>
              <textarea
                name="desc"
                id="desc"
                cols="30"
                rows="5"
                class="form-control"
                th:text="*{desc}"
                th:value="*{desc}"
                th:classappend="${#fields.hasErrors('desc')} ? is-invalid :''"
                placeholder="Entre Discription "
              ></textarea>
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('desc')}"
                th:errors="*{desc}"
              ></div>
            </div>
            <button
              type="submit"
              class="btn btn-success btn-block"
              th:text="${action}"
            />
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
